{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sic - Sistema de Controle Financeiro</title>

    <link rel="shortcut icon" href="{% static 'v1/global/assets/images/favicon.ico' %}">

    <link href="{% static 'v1/global/lib/plugins/switchery/switchery.min.css' %}" rel="stylesheet" />
    <link href="{% static 'v1/global/lib/plugins/jquery-circliful/css/jquery.circliful.css' %}" rel="stylesheet" />

    <link href="{% static 'v1/global/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'v1/global/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'v1/global/assets/css/style.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'v1/global/assets/js/modernizr.min.js' %}"></script>
</head>

<body class="fixed-left">
<div id="wrapper">
    <div class="topbar">
        <div class="topbar-left">
            <div class="text-center">
                <a href="index.html" class="logo">
{#                    <i class="mdi mdi-radar"></i> <span>Sic</span>#}
                    <img src="{% static 'v1/global/assets/images/sic_logo.png' %}" alt="Sic">
                </a>
            </div>
        </div>
        <nav class="navbar-custom">
            <ul class="list-inline float-right mb-0">
                <li class="list-inline-item notification-list hide-phone">
                    <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                        <i class="mdi mdi-crop-free noti-icon"></i>
                    </a>
                </li>
                <li class="list-inline-item dropdown notification-list">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <img src="{% static 'v1/global/assets/images/users/avatar-1.jpg' %}" alt="Diego Masin" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-account-star-variant"></i> <span>Perfil</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-settings"></i> <span>Configurações</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-logout"></i> <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left waves-light waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a href="{% url 'home' %}" class="waves-effect waves-primary">
                            <i class="ti-home"></i><span> Painel Principal </span>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <!-- CONTEÚDO PRINCIPAL -->

            </div>
            <footer class="footer">
                2017 - 2018 © Sic <span class="hide-phone">- Sistema de Controle Financeiro</span>
            </footer>
        </div>
    </div>
</div>
<script>
    var resizefunc = [];
</script>
<!-- Plugins  -->
<script src="{% static 'v1/global/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'v1/global/assets/js/popper.min.js' %}"></script>
<script src="{% static 'v1/global/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'v1/global/assets/js/detect.js' %}"></script>
<script src="{% static 'v1/global/assets/js/fastclick.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'v1/global/assets/js/waves.js' %}"></script>
<script src="{% static 'v1/global/assets/js/wow.min.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'v1/global/lib/plugins/switchery/switchery.min.js' %}"></script>

<!-- Counter Up  -->
<script src="{% static 'v1/global/lib/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'v1/global/lib/plugins/counterup/jquery.counterup.min.js' %}"></script>

<!-- circliful Chart -->
<script src="{% static 'v1/global/lib/plugins/jquery-circliful/js/jquery.circliful.min.js' %}"></script>
<script src="{% static 'v1/global/lib/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

<!-- skycons -->
<script src="{% static 'v1/global/lib/plugins/skyicons/skycons.min.js' %}" type="text/javascript"></script>


<!-- Page js  -->
<script src="{% static 'v1/global/assets/pages/jquery.dashboard.js' %}"></script>

<!-- Custom main Js -->
<script src="{% static 'v1/global/assets/js/jquery.core.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.app.js' %}"></script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });
        $('.circliful-chart').circliful();
    });

    // BEGIN SVG WEATHER ICON
    if (typeof Skycons !== 'undefined'){
        var icons = new Skycons(
                {"color": "#3bafda"},
                {"resizeClear": true}
                ),
                list  = [
                    "clear-day", "clear-night", "partly-cloudy-day",
                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                    "fog"
                ],
                i;

        for(i = list.length; i--; )
            icons.set(list[i], list[i]);
        icons.play();
    };
</script>
</body>
</html>