<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Sic - Termo de Uso</title>
</head>
<body>
<div id="termos" class="container">
    <h3 class="text-center">
        TERMOS DE USO E POLÍTICA DE PRIVACIDADE
        MOBILLS
    </h3>
    <p>
        O Aplicativo Mobills (“Aplicativo” ou “Mobills”) foi desenvolvido para você (“Usuário”) por Mobills Labs Soluções em Tecnologia, inscrita no CNPJ sob o nº 20.256.063/0001-10, com sede à Avenida Santos Dumont, 304, sala 403, Fortaleza/CE, CEP 60150-160 (“Mobills”), com o objetivo principal de servir como seu gerenciador de finanças pessoais. Assim, você pode usar o Mobills, entre outros, para cadastrar todas as suas contas, despesas e receitas, tendo sempre em mãos o controle de suas finanças. Os dados ficam disponíveis em seu celular, tablet e computador, com interface amigável e interativa, com diversos gráficos à sua disposição, possibilitando que você planeje suas despesas, definindo quanto deseja gastar por mês.
        <br>
        <br>
        A utilização do Aplicativo se dará de acordo com o disposto nos presentes Termos de Uso e Política de Privacidade (“Termos”), com os quais você manifesta, consentimento livre, expresso e informado, em relação à integralidade do documento, incluindo eventuais avisos, disclaimers, entre outros, que podem ser exibidos durante a utilização do Aplicativo. Caso não aceite ou não concorde com quaisquer das disposições dos Termos, ou quaisquer alterações realizadas nestes, deverá ser abster de utilizar o Aplicativo, imediatamente.
        <br>
        <br>
        Qualquer dúvida, reclamação, sugestão ou comentário que você possua com relação a estes Termos ou ao Aplicativo poderá ser direcionado ao e-mail suporte@mobills.com.br ou ao usuário do Skype “mobillsapp”.
    </p>

    <h3 class="text-center">TERMOS DE USO</h3>
    <strong>
        1 Condições de acesso e utilização do Aplicativo
    </strong>
    <br>
    <strong class="ml15">
        1.1 Acesso
    </strong>
    <br>
    <p class="ml30">
        Para que você consiga utilizar o Aplicativo e as suas ferramentas, é necessário realizar prévio cadastro, rápido e prático, fornecendo os dados solicitados, com precisão e veracidade, mantendo-os sempre atualizados, sendo vedada a inserção de informações falsas e/ou de terceiros, sem autorização destes.
    </p>
    <p class="ml30">
        O Aplicativo pode ser fornecido de forma gratuita ou mediante pagamento, estando os preços expostos na Loja Mobills e em nosso portal na Internet, disponível em http://www.mobills.com.br. Algumas das funcionalidades do Aplicativo estão disponíveis apenas na modalidade “Premium”.
    </p>
    <p class="ml30">
        A Mobills se reserva o direito de, a qualquer tempo, passar a cobrar pelo download e/ou uso do Aplicativo, e/ou de quaisquer funcionalidades, sem que isso represente garantia adicional, ou qualquer extensão da responsabilidade da Mobills em relação ao previsto nestes Termos.
    </p>
    <strong class="ml15">
        1.2 Utilização de senha segura
    </strong>
    <p class="ml30">
        É de responsabilidade exclusiva do Usuário a escolha de senha segura para acesso ao Aplicativo, entendendo-se como tal aquela que contenha caracteres maiúsculos e
        minúsculos, números e símbolos (@, #, * etc.), devendo mantê-la em segredo e se abster de fornecê-la a terceiros, inclusive a profissionais de contabilidade,
        que eventualmente a solicitem, para quaisquer fins, além de utilizar as tecnologias adequadas para proteger a sua privacidade perante terceiros, especialmente
        nos dispositivos móveis.
    </p>
    <strong class="ml15">
        1.3 Utilização do aplicativo
    </strong>
    <p class="ml30">
        A utilização do Aplicativo deve se pautar pelo respeito a toda a legislação aplicável, bem como por condutas morais e éticas.
        Sempre que estiver em dúvida se alguma das suas condutas pode violar quaisquer desses pontos, recomendamos que você não continue com seu ato.
        Assim, dentre outros, trazemos as seguintes regras:
    </p>
    <p class="ml30">
        <strong>a)</strong>
        O Usuário declara possuir as necessárias autorizações para a inserção dos dados no Aplicativo, responsabilizando-se exclusivamente;
    </p>
    <p class="ml30">
        <strong>b)</strong>
        As informações inseridas pelo Usuário na ferramenta Mobills Social devem ser verdadeiras, sendo o Usuário o único responsável por informações inverídicas inseridas;
    </p>
    <p class="ml30">
        <strong>c)</strong>
        A Mobills não se responsabiliza por qualquer ação tomada baseada nos dados do aplicativo, já que os mesmos são inseridos pelo próprio usuário.
    </p>
    <p class="ml30">
        <strong>d)</strong>
        A Mobills não garante a atualidade das informações disponibilizadas no Mobills Social, cabendo ao Usuário checar e validar os dados apresentados, antes de tomar qualquer atitude baseada neles;
    </p>
    <p class="ml30">
        <strong>e)</strong>
        O Usuário não poderá disponibilizar qualquer conteúdo ilícito ou de qualquer modo contrário à moral e aos bons costumes ou que viole direitos de terceiros, como, por exemplo, mas não se limitando a: conteúdo difamatório ou pornográfico;
    </p>
    <p class="ml30">
        <strong>f)</strong>
        Os Usuários não deverão inserir qualquer hyperlink que direcione para conteúdo ilícito, mal intencionado ou que de qualquer modo viole a moral e os bons costumes. A Mobills não se responsabiliza pela inserção de hyperlinks, sendo o Usuário o único responsável por qualquer hyperlink por ele disponibilizado.
    </p>
    <p style="text-decoration:underline">
        Em qualquer circunstância, o Usuário é o único responsável pelo uso que fizer do Aplicativo, bem como pelo conteúdo inserido. Caso encontre qualquer conteúdo que entenda violar direitos de terceiros, o Usuário deverá entrar em contato com a Mobills, imediatamente, pelo e-mail suporte@mobills.com.br ou pelo usuário no Skype “mobillsapp”.
    </p>
    <strong class="ml15">
        2 Propriedade Intelectual
    </strong>
    <p class="ml30">
        O Usuário está ciente de que os direitos em relação à integralidade das ferramentas do Aplicativo, tais como arquivos de dados, textos, programas, arquivos de áudio, fotografias, vídeos, gráficos e outros, a estes não se limitando (em conjunto, denominado “Material”), são de propriedade da Mobills, ou de terceiros, reproduzidos sob autorização, quando necessária.
        <br><br>
        O Usuário se declara ciente de que o Material a que terá acesso está protegido por direitos de propriedade intelectual (estando esses direitos registrados ou não), nos termos do disposto nas Leis 9.279/1996, 9.609/1998 e 9.610/1998. A única exceção diz respeito aos gráficos gerados com as informações inseridas pelos Usuários, os quais podem ser utilizados, exclusivamente para fins pessoais.
        <br><br>
        Qualquer uso que viole o acima disposto somente poderá ser realizado, mediante prévia e expressa autorização da Mobills, a qual poderá ser obtida por meio de um dos canais oficiais de contato.

    </p>
    <strong class="ml15">
        3 Exclusão de garantias e de responsabilidade
    </strong>
    <p class="ml30">
        A Mobills adota todos os esforços e investe constantemente, para que todos os dados dos Usuários sejam armazenados da melhor forma possível! A Mobills, porém, não garante que as informações cadastradas no Aplicativo estarão disponíveis durante todo o tempo, sendo certo que elas também poderão ser excluídas, em específicas situações, independentemente de prévio aviso. Em razão disso, compete única e exclusivamente ao Usuário manter cópia de todas as informações disponibilizadas no Aplicativo que assim desejarem. A Mobills não será, em hipótese alguma, responsável por quaisquer danos decorrentes da interrupção de acesso ao Aplicativo, e/ou às informações, independentemente do motivo que cause essa suspensão, quer ocorra por culpa de terceiros ou não.
        <br>
        <br>
        A Mobills adotará todos os esforços para que o sistema de lembretes/agendamento funcione com a máxima perfeição, o que não substitui a necessidade de que o próprio Usuário tenha seus controles internos, não podendo a Mobills ser responsabilizada, no caso de qualquer instabilidade e/ou mau funcionamento dessa função.
        <br>
        <br>
        O Usuário, igualmente, isenta a Mobills de qualquer responsabilidade decorrente do mau uso do Aplicativo e pelos danos e prejuízos de toda natureza que possam decorrer da transmissão, difusão, disponibilização, recepção, obtenção ou acesso às informações. Igualmente, independentemente da modalidade, gratuita ou paga, não é oferecida qualquer garantia, implícita ou explícita, de qualquer natureza, seja em relação ao seu funcionamento, seja em relação à disponibilidade das informações.
        <br>
        <br>
        Em relação à modalidade paga, a Mobills não efetua reembolso, após a realização dos pagamentos, no que o Usuário poderá continuar a utilizar o Aplicativo pelo tempo adquirido, durante o qual será prestado o devido suporte. Após o término do plano de assinatura, caso o Usuário não o renove, as funcionalidades que são acessíveis exclusivamente mediante pagamento serão automaticamente desabilitadas, sendo certo que os respectivos dados referentes a essas funcionalidades também poderão ser excluídos, independentemente de qualquer aviso prévio.
        <br>
        <br>
        Na máxima extensão permitida pela legislação aplicável, o máximo valor em relação ao qual a Mobills se responsabiliza não ultrapassará o montante eventualmente pago pelo Usuário para aquisição do Aplicativo.
    </p>
    <strong class="ml15">
        4 Duração e Finalização
    </strong>
    <p class="ml30">
        O acesso ao Aplicativo estará disponível por tempo indeterminado, podendo a Mobills a seu exclusivo critério, a qualquer momento e independentemente de motivo ou aviso prévio, excluir perfis, negar, suspender ou descontinuar, temporária ou definitivamente, o acesso de Usuários ao Aplicativo, sem que seja devida qualquer indenização ou compensação a referidos Usuários.
    </p>

    <h3 class="text-center" id="Politica">POLÍTICA DE PRIVACIDADE</h3>
    <strong>Leia com bastante atenção as disposições abaixo, as quais esclarecem, de forma clara, objetiva e direta, as informações sobre coleta, uso, armazenamento, tratamento e armazenamento de dados durante a utilização do Aplicativo, procedimentos em relação aos quais você manifesta consentimento, livre e expresso e informado.</strong>
    <br>
    <strong>
        1 Quais informações coletamos e armazenamos?
    </strong>
    <p>
        A Mobills coleta e armazena os dados fornecidos espontaneamente pelo Usuário, durante a sua utilização do Aplicativo, como, por exemplo, as informações cadastrais fornecidas para criação da conta de acesso ao Aplicativo, bem como os dados inseridos durante a utilização do Aplicativo, pelo preenchimento dos formulários, inclusive despesas, receitas, informações financeiras e de crédito, sonhos, metas e orçamentos, a estes não se limitando.
        <br>
        <br>
        A Mobills pode ainda coletar e armazenar dados coletados automaticamente pelo Aplicativo, independentemente do fornecimento pelo Usuário. A cada acesso são obtidas informações, tais como, mas não se limitando a, características do dispositivo de acesso, do navegador, número IP com informação de data e hora, origem do IP, funcionalidades acessadas, informações sobre cliques e preferência de navegação, geolocalização, entre outros. A Mobills também poderá utilizar outras tecnologias, como cookies, para coletar informações do Usuário e melhorar a experiência de navegação. Alguns desses recursos podem ser bloqueados, o que poderá obstar o funcionamento de algumas funcionalidades do Aplicativo.
        <br>
        <br>
        Assim, o Usuário desde já se encontra ciente acerca das informações coletadas pelos Aplicativos e expressa consentimento livre, expresso e informado com relação a tais procedimentos.
        <br>
        <br>
        As informações coletadas são tratadas pela Mobills como sigilosas, e qualquer funcionário ou prestador de serviços que entrar em contato com elas se comprometerá a não desvirtuar a sua utilização, bem como em não as usar de modo destoante do previsto nestes Termos. A Mobills emprega todos os esforços razoáveis de mercado para garantir a segurança de seus sistemas na guarda de referidos dados.
    </p>
    <br>
    <strong>
        2 Como utilizamos as informações coletadas?
    </strong>
    <p>
        As informações coletadas serão utilizadas para o funcionamento normal do Aplicativo, mantê-lo e aprimorá-lo, bem como para facilitar a identificação do perfil e necessidades do Usuário, a fim de personalizar e aprimorar a oferta de produtos e serviços pela Mobills.
        <br>
        <br>
        As informações constantes no Aplicativo poderão, de forma estatística e anonimizada (isto é, não individualizada), ser repassadas a terceiros, de forma gratuita, ou não, e utilizadas para fins publicitários, desde que seja garantindo que não será possível a identificação do Usuário por meio dos dados fornecidos, no que o Usuário, desde logo, dá o consentimento livre, expresso e informado para tanto, nos termos exigidos pela Lei Nº 12.965/2014, Marco Civil da Internet.
        <br>
        <br>
        Qualquer informação coletada poderá ser excluída, quando deixar de ser necessária ou pertinente para a finalidade que justificou a sua coleta e tratamento, sendo certo que nenhum dado pessoal trafegará pelo Aplicativo ou será armazenado em qualquer local, físico ou remoto, após a sua exclusão. O Usuário poderá desinstalar o Aplicativo a qualquer momento ou deixar de utilizá-lo, portanto deve estar ciente de que, mesmo nestes últimos casos, a Mobills respeitará o prazo de armazenamento mínimo de informações determinado pela legislação brasileira.
        <br>
        <br>
    </p>

    <strong>
        3 Com quem compartilhamos as informações coletadas?
    </strong>
    <p>A Mobills poderá compartilhar os dados em referência com as demais empresas parceiras, no que o Usuário desde logo concorda expressamente, o que poderá ocorrer especialmente nas seguintes hipóteses: (i) caso a viabilização dos negócios e/ou serviços oferecidos pela Mobills dependa do repasse de dados a parceiros; (ii) para proteção dos interesses da Mobills em qualquer tipo de conflito, incluindo ações judiciais, como, mas não se limitando a, quando exista a necessidade de identificar ou revelar dados de Usuário que esteja utilizando o Aplicativo com propósitos ilícitos; (iii) no caso de transações e alterações societárias envolvendo a Mobills; e (iv) mediante ordem judicial ou pelo requerimento de autoridades administrativas que detenham competência legal para requisição.</p>

    <strong>4 Como armazenamos as informações coletadas?</strong>
    <p>
        São adotadas pela Mobills as seguintes precauções na guarda e no tratamento das informações dos Usuários:
        <b>(a)</b> utilizamos os métodos padrões e de mercado para anonimizar os dados coletados;
        <b>(b)</b>  possuímos mecanismos de proteção contra acesso não autorizado aos nossos sistemas;
        <b>(c)</b> somente autorizamos o acesso de pessoas previamente estabelecidas aos locais onde armazenamos as informações; e
        <b>(d)</b> aqueles que entrarem em contato com as informações deverão se comprometer a manter sigilo absoluto. A quebra do sigilo acarretará responsabilidade civil e o responsável será processado nos moldes da legislação brasileira.
        <br>
        <br>
        Tais precauções, no entanto, não garantem integralmente que todas as informações que trafegam no Aplicativo não sejam acessadas por terceiros mal intencionados, por meio de métodos desenvolvidos para obter informações de forma indevida. Em razão disso, a Mobills não se responsabiliza por acessos ilícitos, bem como por atos de terceiros que logrem êxito em coletar ou utilizar, por quaisquer meios, dados cadastrais e informações disponibilizadas no Aplicativo pelo Usuário.
        <br>
        <br>
        Não necessariamente, as informações ficarão armazenadas em servidores localizados no Brasil, podendo ser encaminhadas para qualquer país em que a Mobills tiver servidores.
        <br>
        <br>
    </p>
    <strong>5 Exclusão das informações?</strong>
    <p>
        Você pode solicitar, a qualquer momento, a exclusão de todos os dados incluídos na Mobills, por meio do Aplicativo, por meio de uma das formas de contato indicadas nos presentes Termos. Com isso, você não mais terá acesso a nenhuma das funcionalidades do Aplicativo. Se você estiver usando modalidade paga do Aplicativo, após a solicitação de exclusão, para reativar a sua conta, será necessário novo pagamento.
        <br><br>
        Atuaremos para atender a sua solicitação no menor espaço de tempo possível, sendo certo que, após a exclusão, os dados não mais poderão ser recuperados. O Usuário deve estar ciente, entretanto, que as informações cuja lei obriga a guarda permanecerão armazenadas, pelo prazo mínimo disposto nas normas aplicáveis.
        <br><br>
    </p>
    <h3 class="text-center">DISPOSIÇÕES FINAIS</h3>
    <strong>
        1 Atualização destes Termos
    </strong>
    <p>
        Em caso de qualquer alteração nos presentes Termos, especialmente com relação ao tratamento que damos às informações, se houver obrigação legal, os Usuários serão comunicados, por meio do e-mail cadastrado no Aplicativo, sobre tais alterações, ou por meio de avisos no Aplicativo, devendo deixar de utilizá-lo caso não concorde com quaisquer modificações.
    </p>
    <strong>
        2 Legislação e Foro
    </strong>
    <p>
        Estes Termos serão regidos, interpretados e executados de acordo com as leis da República Federativa do Brasil, independentemente dos conflitos dessas leis com leis de outros estados ou países, sendo competente o Foro do local de residência do Usuário, no Brasil, para dirimir qualquer dúvida decorrente deste instrumento. O Usuário consente, expressamente, com a competência desse juízo, e renuncia, neste ato, à competência de qualquer outro foro, por mais privilegiado que seja ou venha a ser.
    </p>
    <strong>
        3 Contato
    </strong>
    <p>
        Caso seja necessário contatarmos você, tal será realizado por meio do endereço de e-mail informado quando de seu cadastro no Aplicativo, ou por meio de mensagens disponibilizadas no próprio Aplicativo.
        <br><br>
        Em caso de dúvidas, sugestões ou reclamações, o Usuário pode contatar a Mobills por meio de uma das seguintes modalidades:
        <br><br>
        E-mail: suporte@mobills.com.br
        Skype: “mobillsapp”
        <br><br>
        <em style="text-align:right;float:right">Última atualização: 06.12.2014. </em>
    </p>
</div>
</body>
</html>