{% load staticfiles %}
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="fa fa-bank"></i> <span> Contas </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li>
            <a href="#modal-contas" data-animation="flip" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a">
                Nova Conta
            </a>
        </li>
        <li><a href="{% url url_contas_listar %}">Listar Contas</a></li>
    </ul>
</li>
