{% load staticfiles %}
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">Menu</li>
                <li class="active">
                    <a href="{% url url_home %}" class="waves-effect waves-primary">
                        <i class="fa fa-home"></i>
                        <span> Painel de Controle </span>
                    </a>
                </li>
                {% include 'internas/partials/menu/contas_menu.html' %}
                {% include 'internas/partials/menu/receitas_menu.html' %}
                {% include 'internas/partials/menu/despesas_menu.html' %}
                {% include 'internas/partials/menu/cartao_credito_menu.html' %}
                {% include 'internas/partials/menu/transferencias_menu.html' %}
                {% include 'internas/partials/menu/tags_menu.html' %}
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
