{% load staticfiles %}
<div class="topbar">
    <div class="topbar-left">
        <div class="text-center">
            <a href="{% url namespace %}" class="logo">
                {#                    <i class="mdi mdi-radar"></i> <span>Sic</span>#}
                {#                    <img src="{% static 'v1/global/assets/images/sic_logo.png' %}" alt="Sic">#}
                <i class="mdi">
                    <img src="{% static 'v1/global/assets/images/sic_logo_seta.png' %}">
                </i> <span><img src="{% static 'v1/global/assets/images/sic_logo_nome.png' %}"></span>
            </a>
        </div>
    </div>
    <nav class="navbar-custom">
        <ul class="list-inline float-right mb-0">
            <li class="list-inline-item notification-list hide-phone">
                <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                    <i class="mdi mdi-crop-free noti-icon"></i>
                </a>
            </li>
            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <img src="{% static 'v1/global/assets/images/users/avatar-1.jpg' %}" alt="Diego Masin" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-star-variant"></i> <span>Perfil</span>
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-settings"></i> <span>Configurações</span>
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout"></i> <span>Logout</span>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-light waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>
