{% load staticfiles %}
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content no-border">
            <div class="modal-header bg-dark text-white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Criar Conta</h4>
            </div>
            <div class="modal-body bg-dark text-white">
                {% include 'contas/partials/campos_modal.html' %}
            </div>
            <div class="modal-footer bg-dark no-border">
                <button type="button" class="btn btn-outline-success">
                    <i class="fa fa-save m-r-5"></i>
                    <spam>Salvar</spam>
                </button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->