{% load core_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sic</title>

    <link rel="shortcut icon" href="{% static 'v1/global/assets/images/favicon.ico' %}">
    <link href="{% static 'v1/global/lib/plugins/switchery/switchery.min.css' %}" rel="stylesheet" />
    <link href="{% static 'v1/global/lib/plugins/jquery-circliful/css/jquery.circliful.css' %}" rel="stylesheet" />
    <link href="{% static 'v1/global/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'v1/global/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'v1/global/assets/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'v1/global/lib/plugins/custombox/dist/custombox.min.css' %}" rel="stylesheet">

    {% block css %}{% endblock css %}
    {% block css_specific %}{% endblock css_specific %}

    <script src="{% static 'v1/global/assets/js/modernizr.min.js' %}"></script>
</head>

<body class="fixed-left">
<div id="wrapper">
    {% include 'internas/partials/top_bar.html' %}
    {% include 'internas/partials/left_side_menu.html' %}

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title text-white">
                                {% block titulo_pagina %}{% endblock titulo_pagina %}
                            </h4>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                {% block content %}{% endblock content %}

            </div>
            <footer class="footer">
                2017 - 2018 © Sic <span class="hide-phone">- Sistema de Controle Financeiro Familiar</span>
            </footer>
        </div>
    </div>
</div>

<!-- MODALS -->
{% include 'internas/partials/modals/criar_conta.html' %}

<script>
    var resizefunc = [];
</script>

<!-- Plugins  -->
<script src="{% static 'v1/global/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'v1/global/assets/js/popper.min.js' %}"></script>
<script src="{% static 'v1/global/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'v1/global/assets/js/detect.js' %}"></script>
<script src="{% static 'v1/global/assets/js/fastclick.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'v1/global/assets/js/waves.js' %}"></script>
<script src="{% static 'v1/global/assets/js/wow.min.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'v1/global/lib/plugins/switchery/switchery.min.js' %}"></script>

<!-- Counter Up  -->
<script src="{% static 'v1/global/lib/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'v1/global/lib/plugins/counterup/jquery.counterup.min.js' %}"></script>

<!-- circliful Chart -->
<script src="{% static 'v1/global/lib/plugins/jquery-circliful/js/jquery.circliful.min.js' %}"></script>
<script src="{% static 'v1/global/lib/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

<!-- skycons -->
<script src="{% static 'v1/global/lib/plugins/skyicons/skycons.min.js' %}" type="text/javascript"></script>

<!-- Page js  -->
<script src="{% static 'v1/global/assets/pages/jquery.dashboard.js' %}"></script>

<!-- Custom main Js -->
<script src="{% static 'v1/global/assets/js/jquery.core.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.app.js' %}"></script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });
        $('.circliful-chart').circliful();
    });

    // BEGIN SVG WEATHER ICON
    if (typeof Skycons !== 'undefined'){
        var icons = new Skycons(
                {"color": "#3bafda"},
                {"resizeClear": true}
                ),
                list  = [
                    "clear-day", "clear-night", "partly-cloudy-day",
                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                    "fog"
                ],
                i;

        for(i = list.length; i--; )
            icons.set(list[i], list[i]);
        icons.play();
    };
</script>

<script src="{% static 'v1/global/assets/js/crudp.js' %}"></script>

{% block js %}{% endblock js %}
{% block js_specific %}
{% endblock js_specific %}

</body>
</html>