{% load core_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{% static 'v1/global/assets/images/favicon.ico' %}">

    <title>Sic - Login</title>

    <link href="{% static 'v1/global/lib/plugins/switchery/switchery.min.css' %}" rel="stylesheet" />

    <link href="{% static 'v1/global/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'v1/global/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'v1/global/assets/css/style.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'v1/global/assets/js/modernizr.min.js' %}"></script>
    {% block css %}{% endblock css %}
    {% block css_specific %}{% endblock css_specific %}
</head>
<body>

<div class="wrapper-page">

    <div class="text-center">
        <a href="{% url url_home %}" class="logo-lg">
            <i class="mdi">
                <img src="{% static 'v1/global/assets/images/sic_logo_seta.png' %}">
            </i> <span>SIC</span>
        </a>
    </div>
    {% include 'internas/partials/messages.html' %}
    {% block content_login %}{% endblock content_login %}

</div>

<script>
    var resizefunc = [];
</script>

<!-- Plugins  -->
<script src="{% static 'v1/global/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'v1/global/assets/js/popper.min.js' %}"></script>
<script src="{% static 'v1/global/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'v1/global/assets/js/detect.js' %}"></script>
<script src="{% static 'v1/global/assets/js/fastclick.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'v1/global/assets/js/waves.js' %}"></script>
<script src="{% static 'v1/global/assets/js/wow.min.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'v1/global/lib/plugins/switchery/switchery.min.js' %}"></script>

<!-- Notification js -->
<script src="{% static 'v1/global/lib/plugins/notifyjs/dist/notify.min.js' %}"></script>
<script src="{% static 'v1/global/lib/plugins/notifications/notify-metro.js' %}"></script>

<!-- Custom main Js -->
<script src="{% static 'v1/global/assets/js/jquery.core.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.app.js' %}"></script>
<script src="{% static 'v1/global/assets/js/jquery.custom.global.js' %}"></script>

{% block js %}{% endblock js %}
{% block js_specific %}
{% endblock js_specific %}

</body>
</html>