{% load core_tags%}
<table id="" class="table table-striped">
    <thead>
    <tr>
        <th width="150">&nbsp;</th>
        <th data-toggle="true">Nome</th>
        <th width="120">Ações</th>
    </tr>
    </thead>
    <tbody class="font-18">
    {% for tipo_receita in lista_tipo_receita %}
        <tr>
            <td scope="row" class="text-center">
                <i class="ion-information-circled font-18 text-{{ tipo_receita.cor_layout }}"></i>
            </td>
            <td>{{ tipo_receita.nome }}</td>
            <td>
                <a class="btn-editar-tipo-receita cursor-pointer" data-toggle="modal" data-target="#tipo-receita-modal" data-id="{{ tipo_receita.pk }}"
                   data-original-title="Editar">
                    <i class="fa fa-pencil text-white"></i>
                </a>
                &nbsp;&nbsp;
                <a class="acao-excluir cursor-pointer" data-url="{% url url_tipo_receita_apagar tipo_receita.pk %}" data-model-title="Tipo Receita"
                   data-toggle="tooltip" data-placement="top" data-original-title="Exlcuir">
                    <i class="fa fa-trash text-white"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
