{% load core_tags%}
{% load humanize %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Nome</th>
        <th>Saldo Atual</th>
        <th>Saldo Final do Mês</th>
        <th width="120">Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for conta in lista_contas %}
        <tr>
            <td scope="row" class="text-center">
                <i class="fa fa-dollar text-{{ conta.cor_layout }}"></i>
            </td>
            <td>{{ conta.nome }}</td>
            <td>{{ conta.saldo|to_mask_money }}</td>
            <td>{{ conta.saldo|to_mask_money }}</td>
            <td>
                <a href="#"><i class="fa fa-pencil"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>