{% load core_tags%}
{% load humanize %}
<table id="" class="table table-striped" data-page-size="10" data-sorting="true">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th data-toggle="true">Nome</th>
        <th>Saldo Atual</th>
        <th>Saldo Final do Mês</th>
        <th>Status da Conta</th>
        <th width="120">Ações</th>
    </tr>
    </thead>
    <div class="form-inline m-b-20">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input id="demo-foo-search" type="text" placeholder="Pesquise..." class="form-control" autocomplete="on">
                </div>
            </div>
        </div>
    </div>
    <tbody>
    {% for conta in lista_contas %}
        <tr>
            <td scope="row" class="text-center">
                <i class="fa fa-{{ conta.get_simbolo_tipo_conta }} text-{{ conta.cor_layout }}"
                   title="{{ conta.get_nome_tipo_conta }}">
                </i>
            </td>
            <td>{{ conta.nome }}</td>
            <td class="text-{{ conta.saldo|format_positivo_negativo }}">
                {{ conta.saldo|to_mask_money }}
            </td>
            <td class="text-{{ conta.saldo|format_positivo_negativo }}">
                {{ conta.saldo|to_mask_money }}
            </td>
            <td>
                <span class="badge label-table badge-{{ conta.status_ativa|format_status_conta }}">
                    {{ conta.get_status_nome }}
                </span>
            </td>
            <td>
                <a href="#" class="m-r-15" data-toggle="tooltip" data-placement="top" data-original-title="Editar">
                    <i class="fa fa-pencil text-white"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Arquivar">
                    <i class="fa fa-archive text-white"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>