{% load core_tags%}
{% load humanize %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Nome</th>
        <th>Saldo Atual</th>
        <th>Saldo Final do Mês</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" class="text-center">
            <i class="fa fa-dollar"></i>
        </th>
        <td>Conta Santader</td>
        <td>{{ valor_atual|to_mask_money }}</td>
        <td>{{ valor_final_mes|to_mask_money }}</td>
        <td>
            <a href="#"><i class="fa fa-pencil"></i></a>
        </td>
    </tr>
    </tbody>
</table>